<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube mp3 free converter</title>

    <!--FUENTES-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet"> 

    <!--ESTILOS-->

    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/download.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/normalize.css')}}">
    

</head>

<body>

    <div class="container">

        <nav class="nav-bar" align=center>

            <h1>Youtube MP3 Downloader</h1>
            <p>Música y audio gratis y sin anuncios</p>
            
        </nav>

        {% block content %}
        {% endblock %}

    </div>

    <script src="{{url_for('static',filename='js/validate.js')}}"></script>
</body>
</html>